@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CAB MANAGEMENT SYSTEM ON MVC</h1>
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2> DEPARTMENTS</h2>
        
        <p><a class="btn btn-default" href="~/departments/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> DRIVERS</h2>

        <p><a class="btn btn-default" href="~/drivers/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> JOB TITLES</h2>

        <p><a class="btn btn-default" href="~/job_titles/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> DRIVER PHONES</h2>

        <p><a class="btn btn-default" href="~/driver_phones/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> STAFF</h2>

        <p><a class="btn btn-default" href="~/staff/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> STAFF PHONES</h2>

        <p><a class="btn btn-default" href="~/staff_phones_phones/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> USERS</h2>

        <p><a class="btn btn-default" href="~/users/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> USER PHONES</h2>

        <p><a class="btn btn-default" href="~/user_phones/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> RIDES</h2>

        <p><a class="btn btn-default" href="~/rides/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> EMPLOY SALARY</h2>

        <p><a class="btn btn-default" href="~/employ_salaries/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> EXPENSES</h2>

        <p><a class="btn btn-default" href="~/expenses/ShowAll">GO TO DATABASE &raquo;</a></p>
    </div>
   
   
</div>